<h1>Shops near you</h1>
<%= link_to "Return to plant", :back %>
<div class="shop-cards">
  <% @shops.each do |shop| %>
    <div class="shop-card">
      <%= cl_image_tag(shop.picture,
      width: 400, height: 300, crop: :fill) %>
      <div class="shop-card-text">
        <h2><%= shop.name %></h2>
        <p><%= shop.phone_number %></p>
        <p><%= shop.address %></p>
        <p><%= shop.url %></p>
      </div>
    </div>
  <% end %>
</div>
<%# <div id="map"></div> %>
