<% content_for :meta_title, "Shops near you - #{DEFAULT_META["meta_product_name"]}" %>

<div class="row">
  <div class="col-12">
    <h1 class="text-center shop-page-header">Shops near you</h1>
    <%= link_to "Return to plant", plant_path(@plant), class: "btn btn-primary" %>
    <a href="#online-shops" class="btn btn-outline-primary ml-3" data-turbolinks="false">Online shops</a>
  </div>
</div>
<% if @no_shops_found == true %>
    <div id="no-shops-found-msg">Sorry, no shops found in your area. Here are all plant shops!</div>
  <% end %>
<div class="row shop-content">
  <div class="col-sm-12 col-md-12 col-lg-6 order-sm-2 order-lg-1">
    <div id="shop-cards">
      <% @shops.each do |shop| %>
        <div id="<%= shop.id %>" class="shop-card" data-lat="<%= shop.latitude %>" data-long="<%= shop.longitude %>">
          <div class="shop-img" style="background-image: url('<%= image_path(shop.picture) %>')">
          </div>
          <div class="shop-card-text">
            <h2><%= shop.name %></h2>
            <p><i class="fas fa-phone-alt"></i><%= shop.phone_number %></p>
            <div class="shop-card-address">
              <p><i class="fas fa-map-marker-alt"></i></p>
              <p><%= shop.address %></p>
            </div>
            <p class="text-center"><%= link_to "Website", shop.url, target: "_blank", class: "btn btn-primary btn-small" %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div id="online-shops">
      <p>ONLINE SHOPS</p>
      <% if @result[:quantity] > 0 %>
        <div id="shop-cards">
            <div class="shop-card">
            <div class="shop-img" style="background-image: url('https://images.dailyhive.com/20200728103330/DH-Plantsome.jpg')">
              </div>
              <div class="shop-card-text">
                <h2>Plantsome</h2>
                <p class="online-shop-card">This website has <strong><%= @result[:quantity]%> results</strong> for this plant</p>
                <div class="shop-card-address">
                  <p><i class="fas fa-map-marker-alt"></i></p>
                  <p>Can deliver anywhere in the world. Headquarters in canada.</p>
                </div>
                <p class="text-center"><%= link_to "Website",  @result[:url] , target: "_blank", class: "btn btn-primary btn-small" %></p>
              </div>
            </div>
        </div>
      <% end %>

      <% if @result_patch[:quantity1] > 0 %>
        <div id="shop-cards">
            <div class="shop-card">
            <div class="shop-img" style="background-image: url('https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1563876772/products/snake-plant-dda326.jpg')">
              </div>
              <div class="shop-card-text">
                <h2>Patch Plants</h2>
                <p class="online-shop-card">This website has <strong><%= @result_patch[:quantity1]%> results</strong> for this plant</p>
                <div class="shop-card-address">
                  <p><i class="fas fa-map-marker-alt"></i></p>
                  <p>Can deliver anywhere in the world. Headquarters in England.</p>
                </div>
                <p class="text-center"><%= link_to "Website",  @result_patch[:url1] , target: "_blank", class: "btn btn-primary btn-small" %></p>
              </div>
            </div>
        </div>
      <% end %>

    <% if @result_still[:quantity2] > 0 %>
      <div id="shop-cards">
        <div class="shop-card">
          <div class="shop-img" style="background-image: url('https://res.cloudinary.com/ds1rugee1/image/upload/v1638394526/Bloom/Shops/5c8be4585dfa995a76437e26_b3wrmp.png')">
          </div>
            <div class="shop-card-text">
              <h2>The Still</h2>
              <p class="online-shop-card">This website has <strong><%= @result_still[:quantity2]%> results</strong> for this plant</p>
              <div class="shop-card-address">
                <p><i class="fas fa-map-marker-alt"></i></p>
                <p>Can deliver anywhere in the world. Headquarters in New york.</p>
              </div>
              <p class="text-center"><%= link_to "Website",  @result_still[:url2] , target: "_blank", class: "btn btn-primary btn-small" %></p>
            </div>
        </div>
      </div>
    <% end %>

    <% if @result_piante[:quantity3] > 0 %>
      <div id="shop-cards">
        <div class="shop-card">
          <div class="shop-img" style="background-image: url('https://res.cloudinary.com/ds1rugee1/image/upload/v1638397315/Bloom/Shops/cgx7vtlssnexebfyomwg.jpg')">
          </div>
            <div class="shop-card-text">
              <h2>Piante plants</h2>
              <p class="online-shop-card">This website has <strong><%= @result_piante[:quantity3]%> results</strong> for this plant</p>
              <div class="shop-card-address">
                <p><i class="fas fa-map-marker-alt"></i></p>
                <p>Can deliver anywhere in the world. Headquarters in Canada.</p>
              </div>
              <p class="text-center"><%= link_to "Website",  @result_piante[:url3] , target: "_blank", class: "btn btn-primary btn-small" %></p>
            </div>
        </div>
      </div>
    <% end %>
  </div>

  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 order-sm-1 order-lg-2">
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-filtered-markers="<%= @filtered_markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
