<h1>Bloom</h1>
<p><%= link_to "See all the plants", plants_path, class: 'btn btn-success' %></p>

<%= form_tag plants_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a specific plant"
  %>
  <%= text_field_tag :max_price,
    params[:max_price],
    class: "form-control",
    placeholder: "Max $ you are willing to spend"
  %>

  <p>Do you have pets?</p>
  <%= radio_button_tag(:pets, "true") %>
  <%= label_tag(:pets_true, "Yes") %>
  <%= radio_button_tag(:pets, "false") %>
  <%= label_tag(:pets_false, "No") %>

  <br>
  <br>

  <p>Level of light</p>
  <%= radio_button_tag(:light_level, "low") %>
  <%= label_tag(:light_level_low, "Low") %>
  <%= radio_button_tag(:light_level, "medium") %>
  <%= label_tag(:light_level_medium, "Medium") %>
  <%= radio_button_tag(:light_level, "high") %>
  <%= label_tag(:light_level_high, "High") %>

  <br>
  <br>

  <p>Level of care</p>
  <%= radio_button_tag(:care_level, "low") %>
  <%= label_tag(:care_level_low, "Low") %>
  <%= radio_button_tag(:care_level, "medium") %>
  <%= label_tag(:care_level_medium, "Medium") %>
  <%= radio_button_tag(:care_level, "high") %>
  <%= label_tag(:care_level_high, "High") %>

  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
