<div id="home-container-top">
  <h1>BLOOM</h1>
  <h2>Find the perfect plant for your home</h2>
  <div>
    <%= link_to "Find my plant", root_path(anchor: "home-form"), class: "btn btn-primary" %>
    <%= link_to "See all plants", plants_path, class: "btn btn-outline-primary" %>
  </div>
</div>


<%= image_tag "home-page-plant1.png", alt: "Plant", id: "home-plant-1", width: 600 %>

<div class="info-home">
  <h2>What BLOOM can do for you</h2>
  <div class="info-body">
    <div class="info-text">
      <h2 id="small-info">Find the perfect plant</h2>
      <img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/64/000000/external-plant-stay-at-home-flatart-icons-solid-flatarticons.png"/>
      <p id="pad-info">Provide details about your plant desires and BLOOM will, in turn, provide you with a list of plants most suited to your needs.</p>
    </div>

    <div class="info-text">
      <h2 id="small-info">Join a community</h2>
      <img src="https://img.icons8.com/external-wanicon-lineal-wanicon/64/000000/external-community-world-humanitarian-day-wanicon-lineal-wanicon.png"/>
      <p id="pad-info">BLOOM provides plant care tips to ensure your plant thrives at home. In addition, be part of a community of like-minded plant enthusiasts.</p>
    </div>

    <div class="info-text">
      <h2 id="small-info">Buy that plant</h2>
      <img src="https://img.icons8.com/windows/64/000000/buy.png"/>
      <p id="pad-info">Once you have found your plant, BLOOM will provide you with a list of stores (both local brick and mortar and online) which carry your plant.</p>
    </div>

  </div>
</div>


<div id="home-form">
  <h2 class="text-center">Find my plant</h2>

  <%= image_tag "home-page-plant2.png", alt: "Plant", id: "home-plant-2", width: 560 %>

  <div class="row d-flex justify-content-end mt-5">
    <div class="col-6">
      <%= form_tag plants_path, id: "home-form-container", method: :get do %>
        <div class="form-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Are you searching for a specific plant?"
          %>
        </div>

        <div class="form-group">
          <%= hidden_field_tag :max_price,
            params[:max_price],
            class: "form-control",
            placeholder: "What is the max $ you are willing to spend?",
            id: "slider-form-value",
            value: "75"
          %>
        </div>
        <div id="slider">
          <label for="price-slider" class="form-label"><strong>What is the max $ you are willing to spend?</strong></label>
          <input type="range" class="form-range" min="5" max="150" step="5" id="price-slider" value="75">
          <div id="slider-value">75</div>
        </div>

        <fieldset class="form-group">
          <legend class="col-form-label">
            <strong>Do you have children or pets?</strong>
            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="right"
               title="Some plants are toxic and can be dangerous for young children or pets."></i>
          </legend>
          <div class="form-check form-check-inline">
            <%= radio_button_tag(:pets, "true", false, class: "form-check-input") %>
            <%= label_tag(:pets_true, "Yes", class: "form-check-label") %>
          </div>
          <div class="form-check form-check-inline">
            <%= radio_button_tag(:pets, "false", false, class: "form-check-input") %>
            <%= label_tag(:pets_false, "No", class: "form-check-label") %>
          </div>
        </fieldset>


        <fieldset class="form-group">
          <legend class="col-form-label"><strong>How much light will your plant get?</strong></legend>
          <div class="form-check form-check-inline">
            <%= radio_button_tag(:light_level, "low", false, class: "form-check-input") %>
            <%= label_tag(:light_level_low, "Low", class: "form-check-label") %>
          </div>
          <div class="form-check form-check-inline">
            <%= radio_button_tag(:light_level, "medium", false, class: "form-check-input") %>
            <%= label_tag(:light_level_medium, "Medium", class: "form-check-label") %>
          </div>
          <div class="form-check form-check-inline">
            <%= radio_button_tag(:light_level, "high", false, class: "form-check-input") %>
            <%= label_tag(:light_level_high, "High", class: "form-check-label") %>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <legend class="col-form-label"><strong>How much care can you give your plant?</strong></legend>
          <div class="form-check form-check-inline">
            <%= radio_button_tag(:care_level, "low", false, class: "form-check-input") %>
            <%= label_tag(:care_level_low, "Low", class: "form-check-label") %>
          </div>
          <div class="form-check form-check-inline">
            <%= radio_button_tag(:care_level, "medium", false, class: "form-check-input") %>
            <%= label_tag(:care_level_medium, "Medium", class: "form-check-label") %>
          </div>
          <div class="form-check form-check-inline">
            <%= radio_button_tag(:care_level, "high", false, class: "form-check-input") %>
            <%= label_tag(:care_level_high, "High", class: "form-check-label") %>
          </div>
        </fieldset>

        <div id="home-form-submit">
         <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
