<div class="header">
  <h1>Plants for you</h1>
</div>

<div data-controller="plant-list">
  <%= form_tag plants_path, method: :get, data: { plant_list_target: 'form' } do %>
    <div class="form-row" data-controller="plant-form">
      <div class="form-group col-md-2">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Name",
          data: {
            plant_list_target: "nameInput",
            action: "keyup->plant-list#update"
          }
        %>
      </div>

      <div class="form-group col-md-2">
        <%= text_field_tag :max_price,
          params[:max_price],
          class: "form-control",
          placeholder: "Max $",
          data: {
            plant_list_target: "priceInput",
            action: "keyup->plant-list#update"
          }
        %>
      </div>

      <fieldset class="form-group col-md-2 plant-form-container">
        <legend class="col-form-label">Children/pets?</legend>
        <div class="form-check form-check-inline">
          <%= radio_button_tag(:pets, "true", params[:pets] == "true", class: "form-check-input", data: { plant_list_target: "petInput", action: "change->plant-list#update" }) %>
          <%= label_tag(:pets_true, "Yes", class: "form-check-label") %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag(:pets, "false", params[:pets] == "false", class: "form-check-input", data: { plant_list_target: "petInput", action: "change->plant-list#update" }) %>
          <%= label_tag(:pets_false, "No", class: "form-check-label") %>
        </div>
        <div class="plant-form-popup" data-plant-list-target="pets">
          hello
        </div>
      </fieldset>

      <fieldset class="form-group col-md-3">
        <legend class="col-form-label">Level of light</legend>
        <div class="form-check form-check-inline">
          <%= radio_button_tag(:light_level, "low", params[:light_level] == "low", class: "form-check-input", data: { plant_list_target: "lightInput", action: "change->plant-list#update" }) %>
          <%= label_tag(:light_level_low, "Low", class: "form-check-label") %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag(:light_level, "medium", params[:light_level] == "medium", class: "form-check-input", data: { plant_list_target: "lightInput", action: "change->plant-list#update" }) %>
          <%= label_tag(:light_level_medium, "Medium", class: "form-check-label") %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag(:light_level, "high", params[:light_level] == "high", class: "form-check-input", data: { plant_list_target: "lightInput", action: "change->plant-list#update" }) %>
          <%= label_tag(:light_level_high, "High", class: "form-check-label") %>
        </div>
      </fieldset>

      <fieldset class="form-group col-md-3">
        <legend class="col-form-label">Level of care</legend>
        <div class="form-check form-check-inline">
          <%= radio_button_tag(:care_level, "low", params[:care_level] == "low", class: "form-check-input", data: { plant_list_target: "careInput", action: "change->plant-list#update" }) %>
          <%= label_tag(:care_level_low, "Low", class: "form-check-label") %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag(:care_level, "medium", params[:care_level] == "medium", class: "form-check-input", data: { plant_list_target: "careInput", action: "change->plant-list#update" }) %>
          <%= label_tag(:care_level_medium, "Medium", class: "form-check-label") %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag(:care_level, "high", params[:care_level] == "high", class: "form-check-input", data: { plant_list_target: "careInput", action: "change->plant-list#update" }) %>
          <%= label_tag(:care_level_high, "High", class: "form-check-label") %>
        </div>
      </fieldset>
    </div>
  <% end %>

  <%= render 'plant_list', plants: @plants %>
</div>
