<h1><%= @plant.name %></h1>

<ul>
  <li>Category: <%= @plant.category %></li>
  <li>Description: <%= @plant.description %></li>
  <li>Price: $<%= @plant.price %></li>
  <li>Light level: <%= @plant.light_level %></li>
  <li>Care level: <%= @plant.care_level %></li>
  <li>Toxic: <%= @plant.toxic %></li>
</ul>

<div class="confirm">
  <%= link_to 'Whishlist', new_plant_wishlist_item_path(@plant), class: 'btn btn-primary' %>
</div>

<%= link_to "See all plants", plants_path %>
