<% content_for :meta_title, "#{@plant.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "#{@plant.name}: #{@plant.description}" %>
<% content_for :meta_image, image_path(@plant.plant_photos.first.url) %>

<div class="container-main">
  <div class="top">
    <div class="back-link">
      <% if session[:search_results] %>
        <%= link_to "Return to plants", session[:search_results], class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'See all plants', plants_path, class: 'btn btn-primary' %>
      <% end %>
    </div>

    <div class="title">
      <h1><%= @plant.name %></h1>
    </div>

    <div class="confirm">
      <%= link_to toggle_wishlist_path(@plant), method: :post do %>
        <i class="wishlist-heart far fa-heart fa-2x<%= " fa-heart-black" unless @wishlist_item.blank? %>"></i>
      <% end %>
    </div>
  </div>

  <div class="main">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <%= image_tag(@plant.plant_photos.first.url, width: 350, height: 400) %>
        </div>
          <% @plant.plant_photos.drop(1).each do |photo_id| %>
            <div class="carousel-item">
              <%= image_tag photo_id.url, width: 350, height: 400 %>
            </div>
          <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="texter">
      <ul>
        <li><p><strong>Description:</strong> <%= @plant.description %></p></li>
        <li><p><strong>Price: $</strong><%= @plant.price %></p></li>
        <li><p><strong>Light level:</strong> <%= @plant.light_level %></p></li>
        <li><p><strong>Care level:</strong> <%= @plant.care_level %></p></li>
        <li><p><strong>Toxic:</strong> <%= @plant.toxic %></p></li>
      </ul>

      <div class="bottom">
        <div class="shop-form">
          <%= form_tag shops_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Enter your postal code"
            %>
            <%= hidden_field_tag :plant_id, @plant.id %>
            <%= submit_tag "Shops near me", class: "btn btn-primary" %>
          <% end %>
        </div>

        <div class= "forum">
          <%= link_to 'See forum', plant_posts_path(@plant), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>

  <h2 class= "center_drop">
    <a class="plant_care" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <div class="hover_green"> Click for plant-care information <i class="fas fa-arrow-circle-down"></i></div>
    </a>
  </h2>

  <div class="collapse plant_collapse" id="collapseExample">
    <div class="card card-body">
      <div class="description_plant"> <i class="fas fa-spray-can"></i> <strong>Humidity</strong>  </div>
      <%= @plant.humidity %>
      <div class="description_plant"><i class="far fa-sun"></i>  <strong>Sun level</strong> </div>
      <%= @plant.lightdescription%>
      <div class="description_plant"><i class="fas fa-tint"></i>  <strong>Watering</strong> </div>
      <%= @plant.watering%>
      <div class="description_plant"><i class="fas fa-oil-can"></i>  <strong>Fertilizer</strong> </div>
      <%= @plant.careinfo %>
    </div>
  </div>
</div>
