<h1><%= @plant.name %></h1>

<% @plant.plant_photos.each do |photo| %>
  <%= cl_image_tag(photo.url, width: 400, height: 300, crop: :fill) %>
<% end %>

<ul>
  <li>Category: <%= @plant.category %></li>
  <li>Description: <%= @plant.description %></li>
  <li>Price: $<%= @plant.price %></li>
  <li>Light level: <%= @plant.light_level %></li>
  <li>Care level: <%= @plant.care_level %></li>
  <li>Toxic: <%= @plant.toxic %></li>
</ul>

<div class="confirm">
  <%= link_to 'Wishlist',  plant_wishlist_items_path(@plant), method: :post, class: 'btn btn-primary' %>
</div>

<%= link_to "See all plants", plants_path %>

<%= link_to "Shops near me", shops_path %>
<%# add link to forum %>
<%# add link to add to wishlist %>
