<div class="container-main">
  <div class="top">
    <div>
      <%= link_to 'Return to list', :back, class: 'btn btn-primary' %>
    </div>
      <div class="title">
        <h1><%= @plant.name %></h1>
      </div>

      <div class="confirm">
        <%= link_to plant_wishlist_items_path(@plant), method: :post do %>
          <i class="far fa-heart fa-2x"></i>
        <% end %>
      </div>
    </div>

  <div class="main">
    <% @plant.plant_photos.each do |photo| %>
      <%= cl_image_tag(photo.url, width: 400, height: 450, crop: :fill) %>
    <% end %>

    <div class="texter">
      <ul>
        <li><p><strong>Description:</strong> <%= @plant.description %></p></li>
        <li><p><strong>Price: $</strong><%= @plant.price %></p></li>
        <li><p><strong>Light level:</strong> <%= @plant.light_level %></p></li>
        <li><p><strong>Care level:</strong> <%= @plant.care_level %></p></li>
        <li><p><strong>Toxic:</strong> <%= @plant.toxic %></p></li>
      </ul>
    </div>
  </div>

  <div class="bottom">
    <div>
      <%= link_to 'See all plants',  plants_path, class: 'btn btn-primary' %>
    </div>
    <div>
      <%= link_to 'Shops near me',  shops_path, class: 'btn btn-primary' %>
    </div>
    <div>
      <%= link_to 'See forum', plant_posts_path(@plant), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
