<div class="plant-post" id="post-<%= post.id %>">
  <% if post.user.photo.attached? %>
    <%= cl_image_tag post.user.photo.key, width: 50, height: 50, crop: :thumb, gravity: :face, class: "avatar" %>
  <% else %>
    <%= image_tag "avatar-placeholder.png", class: "avatar" %>
  <% end %>
  <div class="post-body">
    <p class="post-title"><small><strong><%= post.user.username %></strong></small></p>
    <p class="post-content"><%= post.content %></p>
    <p class="post-bottom">
      <span class="upvote-post">
        <%= link_to upvote_post_path(post), method: :patch do %>
          <i class="fas fa-thumbs-up"></i>
        <% end %>
        <span class="upvote-number"><%= post.upvotes %></span>
      </span>
      <span class="pl-3">
        <a data-toggle="collapse" href="#replyForm<%= post.id %>" role="button" aria-expanded="false" aria-controls="replyForm<%= post.id %>">
          <i class="fas fa-reply"></i> Reply
        </a>
      </span>
      <span class="pl-3">
        <% unless post.post_replies.blank? %>
          <a data-toggle="collapse" href="#post<%= post.id %>Replies" role="button" aria-expanded="false" aria-controls="post<%= post.id %>Replies">
            See <%= pluralize post.post_replies.count, 'reply' %>
          </a>
        <% end %>
      </span>
    </p>
  </div>
</div>
