<div class="plant-post plant-reply">
  <% if reply.user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, width: 50, height: 50, crop: :thumb, gravity: :face, class: "avatar" %>
  <% else %>
    <%= image_tag "avatar-placeholder.png", class: "avatar" %>
  <% end %>
  <div class="post-body">
    <p class="post-title"><small><strong><%= reply.user.username %></strong></small></p>
    <p class="post-content"><%= reply.content %></p>
    <p class="post-bottom">
      <span class="upvote-post">
        <%= link_to upvote_post_reply_path(reply), method: :patch do %>
          <i class="fas fa-thumbs-up"></i>
        <% end %>
        <span class="upvote-number"><%= reply.upvotes %></span>
      </span>
    </p>
  </div>
</div>
