<% content_for :meta_title, "#{@plant.name} forum - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "#{@plant.name}: #{@plant.description}" %>
<% content_for :meta_image, image_path(@plant.plant_photos.first.url) %>

<div class="container-main">
  <div class="top">
    <div class="back-link">
      <%= link_to "Back to plant", plant_path(@plant), class: 'btn btn-primary' %>
    </div>

    <div class="title">
      <h1><%= @plant.name %></h1>
    </div>

    <div class="confirm">

    </div>
  </div>

  <div class="plant-post-grid">
    <div>
      <%= image_tag(@plant.plant_photos.first.url, class: 'plant-img') %>
      <%= simple_form_for([@plant, @post], remote: true, html: { class: 'post-form' } ) do |f| %>
        <%= f.input :content, label: false, placeholder: 'Post a comment' %>
        <%= f.submit class: 'btn btn-primary btn-small' %>
      <% end %>
    </div>

    <div>
      <% @posts.each do |post| %>
        <%= render 'posts/post', post: post %>

        <div class="post-replies">
          <div class="collapse plant-reply" id="replyForm<%= post.id %>">
            <%= simple_form_for([post, @post_reply], remote: true, html: { class: 'post-form' } ) do |f| %>
              <%= f.input :content, label: false, placeholder: 'Post a comment' %>
              <%= f.submit 'Reply to post', class: 'btn btn-primary btn-small' %>
            <% end %>
          </div>
          <div class="collapse" id="post<%= post.id %>Replies">
            <% post.post_replies.order(upvotes: :desc).each do |reply| %>
              <%= render 'posts/reply', reply: reply %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
